.exam-preparation {
  display: flex;
  position: relative;
  margin: 10px;
}

.exam-preparation h1 {
  text-align: center;
  font-style: var(--font-style);
}

@media (min-width: 401px) {
  .exam-preparation h1 {
      text-align: left;
  }
}

.exam-preparation .img1 {
  position: absolute;
  top: 60%;
  right: 15%;
  transform: rotate(25.43deg);
}

@media (max-width: 720px) {
  .exam-preparation .img1 {
      top: 63%;
      right: 14%;
      width: 62px;
  }
}

.exam-preparation .img2 {
  position: absolute;
  top: 15%;
  right: 20%;
  transform: rotate(-17.18deg);
}

@media (max-width: 720px) {
  .exam-preparation .img2 {
      top: -7%;
      right: 0%;
  }
}

.exam-preparation .img3 {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: rotate(-16.25deg);
}

@media (max-width: 720px) {
  .exam-preparation .img3 {
      top: -3%;
      left: 25%;
      width: 78px;
  }
}

.exam-preparation .img4 {
  position: absolute;
  top: 70%;
  left: 5%;
  transform: rotate(11.39deg);
}

@media (max-width: 720px) {
  .exam-preparation .img4 {
      top: 62%;
  }
}

.exam-preparation .img5 {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: rotate(-165deg);
}

@media (max-width: 720px) {
  .exam-preparation .img5 {
      top: 15%;
      right: 0%;
      width: 78px;
  }
}

.exam-preparation .img6 {
  position: absolute;
  top: 85%;
  right: 15%;
}

@media (max-width: 720px) {
  .exam-preparation .img6 {
      display: none;
  }
}

.exam-preparation .img7 {
  position: absolute;
  top: 85%;
  left: 15%;
  transform: rotate(-69.35deg);
}

@media (max-width: 720px) {
  .exam-preparation .img7 {
      display: none;
  }
}

.exam-preparation .img8 {
  position: absolute;
  top: 25%;
  left: 10%;
  transform: rotate(-69.35deg);
}

@media (max-width: 720px) {
  .exam-preparation .img8 {
      top: 15%;
      left: -5%;
      width: 78px;
  }
}

.exam-preparation .exam-preparation-container {
  margin: 25px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exam-preparation .exam-preparation-container .header-img {
  width: fit-content;
}

.exam-preparation .exam-preparation-container .ep-msg {
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #8D979F;
  width: 650px;
}

@media (max-width: 720px) {
  .exam-preparation .exam-preparation-container .ep-msg {
      width: 98%;
  }
}

.exam-preparation .exam-preparation-container > h1 {
  font-weight: 500;
  margin-top: 5px;
  font-style: var(--font-style);
}

.exam-preparation .exam-preparation-container label {
  font-weight: 400;
  color: #92959A;
  font-style: var(--font-style);
}
