@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-style: var(--font-style);
}
:root {
  --theme-color: #FF961B;
  --font-style: var(--font-style);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 830px;
  position: fixed;
  top: 50%;
  height: 530px;
  left: 50%;
  z-index: 2147483647;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 25px;
  overflow: auto;
  padding-top: 10px;
}
@media (max-width: 1100px) {
  .modal-content {
    width: 95%; 
    height: auto; 
    max-height: 80vh; 
    font-size: 1rem; 
    padding: 15px; 
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 100%; 
    height: auto;
    max-height: 85vh;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 0; 
  }
}
.dropdown-option{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 12px;
  padding-left: 12px;
  padding-bottom: 5px;
}

.flag-icon-img{
  width: 25px;
}
.dropdown-content .text{
  font-size: 14px !important;
  font-weight: 400 !important;
  cursor: pointer;
}
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  align-items: end;
  justify-content: end;
  position: absolute;
  right: 13px;
  top: 2px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tab {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
}

.tab.active {
  color: var(--theme-color);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tabs-container > div{
  white-space: nowrap;
  font-size: 15px;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -13px;
  cursor: pointer;
}
.live-chat-container{
  position: fixed;
  bottom: 87px;
  right: 33px;
  height: 500px;
  z-index: 99999999;
}

.dropdown .select {
  display: flex;
  align-items: center;
  padding: 5px;
  column-gap: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  max-width: 182px;
  justify-content: space-between;
  z-index: 99999;
}
.dropdown .select label{
  cursor: pointer;
  font-size: 14px;
}

.dropdown .select div {
  margin-right: 5px;
}

.dropdown-content {
  position: absolute;
  top: 42px;
  right: -70px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  display: none;
}

.dropdown-content.active {
  display: block;
  z-index: 999;
}

.dropdown .option {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown .option:hover {
  background-color: #f0f0f0;
}