.pvi-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.ivsf-container{
  margin-top: -15px;
}
.pvi-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.pvi-header-img {
  margin: 20px auto 0px;
}
.pvi-instruction-img{
  width: 40px;
  height: 40px;
}
.multi-device-block {
  margin: auto;
  gap: 10px;
  display: flex;
  justify-content: center;
}
.multi-device-block select {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
}

.multi-device-block label {
  font-size: 13px;
}
.camera-container{
  width: 35%;
}
.camera-container select{
  font-style: var(--font-style);
}
.microphone-container{
  width: 35%;
}
.microphone-container select{
  font-style: var(--font-style);
}
.pvi-header-title {
  font-family: Poppins, sans-serif;
  font-style: var(--font-style);
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #222222;
  margin: 0px auto 0px;
  color: var(--text-color);
}
.my-recorded-video{
  height: 245px;
}
.pvi-msg {
  font-family: Poppins, sans-serif;
  font-style: var(--font-style);
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8D979F;
  margin: 0px auto 0px;
}

.pvi-instructions-container {
  display: flex;
  flex-direction: row;
  margin: 10px auto 0px;
}

.pvi-instructions-img {
  height: 48px;
  width: 48px;
  border-radius: 0px;
}

.pvi-instruction-txt {
  font-family: Poppins, sans-serif;
  font-style: var(--font-style);
  color: var(--text-color);
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 0px 15px 0px 5px;
}

.pvi-query-msg {
  font-family: Poppins, sans-serif;
  font-style: var(--font-style);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 9px auto 0px;
  cursor: pointer;
}

.pvi-btn-container {
  margin: 10px 0px 0px;
  text-align: center;
}

.pvi-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 32px;
  background: #0087FD;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
  margin: auto;
  cursor: pointer;
}
