.ivst-container {
  display: flex;
  flex-direction: column;
}

.ivst-container #audio-wave {
  width: 600px;
  height: 140px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .ivst-container #audio-wave {
      width: 100%;
      height: 150px;
  }
}

.ivst-container .recording-text {
  text-align: center;
  font-size: 18px;
  color: #FF961B; /* $primaryColor */
  text-transform: capitalize;
}

.ivst-container .ivst-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 720px) {
  .ivst-container .ivst-wrapper {
      margin: 0;
  }
}

.ivst-container .ivst-header-img {
  width: 411px;
  height: 230px;
  border-radius: 5px;
  margin: 30px auto 0px;
}

.ivst-container .ivst-header-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #222222;
  margin: 26px auto 0px;
}

.ivst-container .ivst-query-msg {
  color: #8d979f;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 0px;
  text-align: center;
}

.ivst-container .mic-checking-txt {
  text-align: center;
  font-size: 16px;
}

.ivst-container .audio-timer {
  text-align: center;
  font-size: 16px;
}

.ivst-container .audio-timer span {
  color: #FF961B; /* $primaryColor */
  font-size: 17px;
  font-weight: 500;
}

.ivst-container .error-msg {
  color: red;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 0px;
  text-align: center;
}

.ivst-container .ivst-msg {
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8d979f;
  margin: 10px auto 0px;
}

.ivst-container .ivst-instructions-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 20px auto 0px;
}

.ivst-container .ivst-instructions-img {
  height: 48px;
  width: 48px;
  border-radius: 0px;
}

.ivst-container .ivst-instruction-step-container {
  margin: 0px 25px 0px 5px;
}

.ivst-container .ivst-instruction-step {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 19px;
  color: #b7c5d1;
}

.ivst-container .volum-checker {
  text-align: center;
  color: red;
  font-size: 16px;
}

.ivst-container .ivst-instruction-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #222222;
}

.ivst-container .ivst-btn-container {
  display: flex;
  margin: 40px auto 0px;
  gap: 20px;
}

@media (max-width: 720px) {
  .ivst-container .ivst-btn-container {
      flex-direction: column;
      margin: 0;
  }
}

.ivst-container .ivst-audio-text {
  padding: 10px 20px;
  background-color: #f7f9fc;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: auto;
  border-radius: 5px;
  margin: 30px auto 20px;
}
