.system-diagnostic-test-screen {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .prompt-image {
    width: 100%;
  }
}

.system-diagnostic-test-screen .heading {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
}

.system-diagnostic-test-screen .container-prompt {
  width: 97%;
}

.system-diagnostic-test-screen .description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #8D979F;
  width: 650px;
  margin: 10px auto 10px;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .description {
    width: 98%;
  }
}

.system-diagnostic-test-screen .container-box {
  display: flex;
  justify-content: center;
}

.system-diagnostic-test-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.system-diagnostic-test-screen .container-top {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.system-diagnostic-test-screen .container-middle {
  display: flex;
  /* flex-direction: column; */
  margin: 20px 0;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .container-middle {
    width: 100%;
  }
}

.system-diagnostic-test-screen .grey-box {
  border: 1px solid #f6f6f9;
  border-radius: 4px;
  width: 118px;
  height: 100px;
  display: flex;
  position: relative;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .grey-box {
    width: 90%;
    margin: 0 auto;
  }
}

.system-diagnostic-test-screen .grey-box .green-box-right {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  align-items: center;
}

.system-diagnostic-test-screen .grey-box .grey-box-left {
  display: flex;
  margin-top: 7px;
  margin-right: 7px;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  right: 0px;
}

.system-diagnostic-test-screen .grey-box .grey-box-left img {
  width: 21px;
}

.system-diagnostic-test-screen .red-box {
  border: 1px solid #eca9a9;
  background-color: #f6f6f9;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 120px;
  display: flex;
  position: relative;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .red-box {
    width: 90%;
    margin: 0 auto;
  }
}

.system-diagnostic-test-screen .red-box .green-box-right {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  align-items: center;
}

.system-diagnostic-test-screen .red-box .grey-box-left {
  display: flex;
  margin-top: 7px;
  margin-right: 7px;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  right: 0px;
}

.system-diagnostic-test-screen .red-box .grey-box-left img {
  width: 28px;
}

.system-diagnostic-test-screen .green-box {
  border: 1px solid #C3E8D6;
  border-radius: 4px;
  width: 200px;
  height: 120px;
  display: flex;
  position: relative;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .green-box {
    width: 90%;
    margin: 0 auto;
  }
}

.system-diagnostic-test-screen .green-box .green-box-right {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  align-items: center;
}

.system-diagnostic-test-screen .green-box .grey-box-left {
  display: flex;
  margin-top: 7px;
  margin-right: 7px;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  right: 0px;
}

.system-diagnostic-test-screen .green-box .grey-box-left img {
  width: 28px;
}

.system-diagnostic-test-screen .green-box-left {
  display: flex;
  margin-top: 10px;
  margin-right: 5px;
  justify-content: flex-end;
  align-items: flex-start;
}

.system-diagnostic-test-screen .grey-box-right {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  align-items: center;
}
.system-diagnostic-test-screen .grey-box-right  img{
    width: 35px;
}

.system-diagnostic-test-screen .grey-box-right  label{
  font-size: 16px;
}

.system-diagnostic-test-screen .box-section {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .box-section {
    flex-direction: column;
    width: 100%;
  }
}

.system-diagnostic-test-screen .button-section {
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .system-diagnostic-test-screen .button-section button {
    width: 50% !important;
  }
}

.system-diagnostic-test-screen .btn-next {
  width: 200px;
  height: 45px;
  background: #F6F6F9;
  border-radius: 5px;
  border: #F6F6F9;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #A7ABB2;
}

.system-diagnostic-test-screen .img-rotate {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.orange-hollow-btn{
  border-style: none;
	font-size: 1em;
	color: var(--theme-color);
	font-weight: 500;
	border-radius: 5px;
	padding: 10px 20px;
  background-color: #ffffff; 
  border: 1px solid var(--theme-color);
  cursor: pointer;
	&:disabled {
		background-image: linear-gradient(#F6F6F9, #F6F6F9) !important;
		color: #A7ABB2 !important;
		border: 1px solid #F6F6F9 !important;
		background-color: #F6F6F9 !important;
	}
	&:hover {
		box-shadow: 1px 1px 2px rgb(32 33 36 / 28%)
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		background-image: none;
	}

	&:active {
		transform: scale(0.98); 
	}
}

.orange-filled-btn {
	border-style: none;
	font-size: 1em;
	color: white;
	font-weight: 500;
	border-radius: 5px;
	padding: 10px 20px;
  background-color: var(--theme-color);
  cursor: pointer;
	&:disabled {
		background-image: linear-gradient(#F6F6F9, #F6F6F9) !important;
		color: #A7ABB2 !important;
		border: 1px solid #F6F6F9 !important;
		background-color: #F6F6F9 !important;
	}
	&:hover {
		box-shadow: 1px 1px 2px rgb(32 33 36 / 28%)
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		background-image: none;
	}

	&:active {
		transform: scale(0.98); 
	}
}